body{
    background-image: url(/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 300px;
    margin-left: 40%;
}
h3{
    color: whitesmoke;
}